-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: retentions
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `retentions`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `retentions` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci */;

USE `retentions`;

--
-- Table structure for table `commanders`
--

DROP TABLE IF EXISTS `commanders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commanders` (
  `Commander_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Rank` varchar(10) NOT NULL,
  `last_name` varchar(50) NOT NULL,
  `first_name` varchar(50) NOT NULL,
  `email` varchar(100) NOT NULL,
  `phone_number` varchar(14) DEFAULT NULL,
  PRIMARY KEY (`Commander_ID`),
  KEY `idx_commander_last_name` (`last_name`)
) ENGINE=InnoDB AUTO_INCREMENT=70 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commanders`
--

LOCK TABLES `commanders` WRITE;
/*!40000 ALTER TABLE `commanders` DISABLE KEYS */;
/*!40000 ALTER TABLE `commanders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contract_status_history`
--

DROP TABLE IF EXISTS `contract_status_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contract_status_history` (
  `status_ID` int(11) NOT NULL AUTO_INCREMENT,
  `contract_ID` int(11) NOT NULL,
  `status` int(11) NOT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`status_ID`),
  KEY `fk_ContractHistory` (`contract_ID`),
  KEY `fk_ContractStatus` (`status`),
  CONSTRAINT `fk_ContractHistory` FOREIGN KEY (`contract_ID`) REFERENCES `contracts` (`Contract_ID`),
  CONSTRAINT `fk_ContractStatus` FOREIGN KEY (`status`) REFERENCES `contractstatus` (`Status_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=103 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contract_status_history`
--

LOCK TABLES `contract_status_history` WRITE;
/*!40000 ALTER TABLE `contract_status_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `contract_status_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contracts`
--

DROP TABLE IF EXISTS `contracts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contracts` (
  `Contract_ID` int(11) NOT NULL AUTO_INCREMENT,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `last_updated` datetime NOT NULL DEFAULT current_timestamp(),
  `contract_type` int(11) NOT NULL,
  PRIMARY KEY (`Contract_ID`),
  KEY `idx_contracttypes` (`contract_type`),
  CONSTRAINT `fk_ContractTypes` FOREIGN KEY (`contract_type`) REFERENCES `contracttypes` (`ContractType_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contracts`
--

LOCK TABLES `contracts` WRITE;
/*!40000 ALTER TABLE `contracts` DISABLE KEYS */;
/*!40000 ALTER TABLE `contracts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contractstatus`
--

DROP TABLE IF EXISTS `contractstatus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contractstatus` (
  `Status_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Status_Name` varchar(100) NOT NULL,
  PRIMARY KEY (`Status_ID`),
  UNIQUE KEY `AK_1` (`Status_Name`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contractstatus`
--

LOCK TABLES `contractstatus` WRITE;
/*!40000 ALTER TABLE `contractstatus` DISABLE KEYS */;
INSERT INTO `contractstatus` VALUES (5,'AF1411 Received'),(4,'AF1411 to Member'),(10,'AF901 Received'),(9,'AF901 to Member'),(8,'Completed'),(12,'DD4 Received'),(11,'DD4 to Member'),(2,'Drafted'),(3,'NCO Review Completed'),(1,'Pending'),(7,'Pending DJMS 3-day Review'),(6,'PRDA/MILPDS/DJMS Updated');
/*!40000 ALTER TABLE `contractstatus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contracttypes`
--

DROP TABLE IF EXISTS `contracttypes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contracttypes` (
  `ContractType_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Contract_Type` varchar(20) NOT NULL,
  PRIMARY KEY (`ContractType_ID`),
  UNIQUE KEY `AK_0` (`Contract_Type`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contracttypes`
--

LOCK TABLES `contracttypes` WRITE;
/*!40000 ALTER TABLE `contracttypes` DISABLE KEYS */;
INSERT INTO `contracttypes` VALUES (2,'Extension'),(1,'Reenlistment');
/*!40000 ALTER TABLE `contracttypes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_information`
--

DROP TABLE IF EXISTS `customer_information`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer_information` (
  `Customer_ID` int(11) NOT NULL AUTO_INCREMENT,
  `last_name` varchar(50) NOT NULL,
  `first_name` varchar(50) NOT NULL,
  `email` varchar(50) NOT NULL,
  `phone_number` varchar(14) DEFAULT NULL,
  `Squadron_ID` int(11) NOT NULL,
  `Member_ID` int(11) NOT NULL,
  `Contract_ID` int(11) NOT NULL,
  PRIMARY KEY (`Customer_ID`),
  UNIQUE KEY `Customer_ID` (`Customer_ID`),
  KEY `fk_CustomerMembers` (`Member_ID`),
  KEY `inx_squadron_ID` (`Squadron_ID`),
  KEY `idx_contracts` (`Contract_ID`),
  KEY `idx_last_name` (`last_name`),
  CONSTRAINT `fk_CustomerContracts` FOREIGN KEY (`Contract_ID`) REFERENCES `contracts` (`Contract_ID`),
  CONSTRAINT `fk_CustomerMembers` FOREIGN KEY (`Member_ID`) REFERENCES `team_members` (`Member_ID`),
  CONSTRAINT `fk_CustomerSquadrons` FOREIGN KEY (`Squadron_ID`) REFERENCES `squadrons` (`Squadron_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_information`
--

LOCK TABLES `customer_information` WRITE;
/*!40000 ALTER TABLE `customer_information` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_information` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `first_sergeants`
--

DROP TABLE IF EXISTS `first_sergeants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `first_sergeants` (
  `First_Sergeant_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Rank` varchar(5) NOT NULL,
  `last_name` varchar(50) NOT NULL,
  `first_name` varchar(50) NOT NULL,
  `email` varchar(50) NOT NULL,
  `phone_number` varchar(14) DEFAULT NULL,
  PRIMARY KEY (`First_Sergeant_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=73 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `first_sergeants`
--

LOCK TABLES `first_sergeants` WRITE;
/*!40000 ALTER TABLE `first_sergeants` DISABLE KEYS */;
/*!40000 ALTER TABLE `first_sergeants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `groups`
--

DROP TABLE IF EXISTS `groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `groups` (
  `Group_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Group_Name` varchar(100) NOT NULL,
  `Group_Abbreviation` varchar(10) NOT NULL,
  `Commander_ID` int(11) NOT NULL,
  `First_Sergeant_ID` int(11) NOT NULL,
  `Wing_ID` int(11) NOT NULL,
  `css_email` varchar(100) NOT NULL,
  PRIMARY KEY (`Group_ID`),
  KEY `fk_GroupsCommanders` (`Commander_ID`),
  KEY `fk_GroupsFirstSergeants` (`First_Sergeant_ID`),
  KEY `fk_GroupsWings` (`Wing_ID`),
  CONSTRAINT `fk_GroupsCommanders` FOREIGN KEY (`Commander_ID`) REFERENCES `commanders` (`Commander_ID`),
  CONSTRAINT `fk_GroupsFirstSergeants` FOREIGN KEY (`First_Sergeant_ID`) REFERENCES `first_sergeants` (`First_Sergeant_ID`),
  CONSTRAINT `fk_GroupsWings` FOREIGN KEY (`Wing_ID`) REFERENCES `wings` (`Wing_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `groups`
--

LOCK TABLES `groups` WRITE;
/*!40000 ALTER TABLE `groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `major_commands`
--

DROP TABLE IF EXISTS `major_commands`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `major_commands` (
  `MAJCOM_ID` int(11) NOT NULL AUTO_INCREMENT,
  `MAJCOM_Name` varchar(50) NOT NULL,
  `MAJCOM_Abbreviation` varchar(10) NOT NULL,
  PRIMARY KEY (`MAJCOM_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `major_commands`
--

LOCK TABLES `major_commands` WRITE;
/*!40000 ALTER TABLE `major_commands` DISABLE KEYS */;
INSERT INTO `major_commands` VALUES (1,'Air Force Global Strike Command ','AFGSC'),(2,'Air Force Material Command','AFMC'),(3,'Air Education and Training Command','AETC'),(4,'Air Combat Command','ACC'),(5,'Air Force Research Lab','AFRL'),(6,'Air Force Inspection Agency','AFIA'),(7,'New Mexico Air National Guard','NMANG'),(8,'Defense Threat Reduction Agency','DTRA');
/*!40000 ALTER TABLE `major_commands` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `squadrons`
--

DROP TABLE IF EXISTS `squadrons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `squadrons` (
  `Squadron_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Squadron_Name` varchar(50) NOT NULL,
  `Sq_Abbreviation` varchar(10) NOT NULL,
  `CSS_Email` varchar(50) NOT NULL,
  `Group_ID` int(11) NOT NULL,
  `Commander_ID` int(11) NOT NULL,
  `First_Sergeant_ID` int(11) NOT NULL,
  PRIMARY KEY (`Squadron_ID`),
  KEY `Squadrons_First_Sergeants` (`First_Sergeant_ID`),
  KEY `fk_SquadronsCommanders` (`Commander_ID`),
  KEY `fk_SquadronsGroups` (`Group_ID`),
  CONSTRAINT `Squadrons_First_Sergeants` FOREIGN KEY (`First_Sergeant_ID`) REFERENCES `first_sergeants` (`First_Sergeant_ID`),
  CONSTRAINT `fk_SquadronsCommanders` FOREIGN KEY (`Commander_ID`) REFERENCES `commanders` (`Commander_ID`),
  CONSTRAINT `fk_SquadronsGroups` FOREIGN KEY (`Group_ID`) REFERENCES `groups` (`Group_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `squadrons`
--

LOCK TABLES `squadrons` WRITE;
/*!40000 ALTER TABLE `squadrons` DISABLE KEYS */;
/*!40000 ALTER TABLE `squadrons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team_members`
--

DROP TABLE IF EXISTS `team_members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `team_members` (
  `Member_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Rank` varchar(10) NOT NULL,
  `Last_Name` varchar(50) NOT NULL,
  `First_Name` varchar(50) NOT NULL,
  `phone_number` varchar(14) DEFAULT NULL,
  `Email` varchar(50) NOT NULL,
  PRIMARY KEY (`Member_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team_members`
--

LOCK TABLES `team_members` WRITE;
/*!40000 ALTER TABLE `team_members` DISABLE KEYS */;
/*!40000 ALTER TABLE `team_members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `view_customers_squadrons`
--

DROP TABLE IF EXISTS `view_customers_squadrons`;
/*!50001 DROP VIEW IF EXISTS `view_customers_squadrons`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `view_customers_squadrons` AS SELECT 
 1 AS `squadron_ID`,
 1 AS `squadron_name`,
 1 AS `rank`,
 1 AS `commander_first_name`,
 1 AS `commander_last_name`,
 1 AS `customer_ID`,
 1 AS `customer_last_name`,
 1 AS `customer_first_name`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `view_team_contracts`
--

DROP TABLE IF EXISTS `view_team_contracts`;
/*!50001 DROP VIEW IF EXISTS `view_team_contracts`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `view_team_contracts` AS SELECT 
 1 AS `member_ID`,
 1 AS `rank`,
 1 AS `last_name`,
 1 AS `customer_ID`,
 1 AS `customer_last_name`,
 1 AS `customer_first_name`,
 1 AS `contract_type`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `wings`
--

DROP TABLE IF EXISTS `wings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wings` (
  `Wing_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Wing_Name` varchar(50) NOT NULL,
  `Commander_ID` int(11) NOT NULL,
  `CSS_Email` varchar(50) NOT NULL,
  `phone_number` varchar(14) DEFAULT NULL,
  `MAJCOM_ID` int(11) NOT NULL,
  `wg_abbreviation` varchar(10) NOT NULL,
  PRIMARY KEY (`Wing_ID`),
  KEY `fk_WingsCommanders` (`Commander_ID`),
  KEY `fk_WingsMajorCommands` (`MAJCOM_ID`),
  CONSTRAINT `fk_WingsCommanders` FOREIGN KEY (`Commander_ID`) REFERENCES `commanders` (`Commander_ID`),
  CONSTRAINT `fk_WingsMajorCommands` FOREIGN KEY (`MAJCOM_ID`) REFERENCES `major_commands` (`MAJCOM_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wings`
--

LOCK TABLES `wings` WRITE;
/*!40000 ALTER TABLE `wings` DISABLE KEYS */;
INSERT INTO `wings` VALUES (1,'377th Air Base Wing',1,'377ABW.css@us.af.mil','505-846-1122',1,'377 ABW'),(2,'58th Special Operations Wing',2,'58SOW.css@us.af.mil','505-846-1123',3,'58 SOW'),(3,'150th Special Operations Wing',3,'150SOW.css@us.af.mil','505-846-2231',3,'150 SOW'),(4,'21st Ordnance Wing',4,'21OrdW.css@us.af.mil','505-846-2217',2,'21 OrdW'),(5,'AFRL Wing',5,'AFRLW.css@us.af.mil','505-853-1122',2,'AFRLW'),(6,'DTRA Wing',6,'DTRAW.css@us.af.mil','505-853-2211',8,'DTRAW');
/*!40000 ALTER TABLE `wings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Current Database: `retentions`
--

USE `retentions`;

--
-- Final view structure for view `view_customers_squadrons`
--

/*!50001 DROP VIEW IF EXISTS `view_customers_squadrons`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_customers_squadrons` AS select `sq`.`Squadron_ID` AS `squadron_ID`,`sq`.`Squadron_Name` AS `squadron_name`,`cmd`.`Rank` AS `rank`,`cmd`.`first_name` AS `commander_first_name`,`cmd`.`last_name` AS `commander_last_name`,`ci`.`Customer_ID` AS `customer_ID`,`ci`.`last_name` AS `customer_last_name`,`ci`.`first_name` AS `customer_first_name` from ((`squadrons` `sq` join `customer_information` `ci` on(`sq`.`Squadron_ID` = `ci`.`Squadron_ID`)) join `commanders` `cmd` on(`cmd`.`Commander_ID` = `sq`.`Commander_ID`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_team_contracts`
--

/*!50001 DROP VIEW IF EXISTS `view_team_contracts`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_team_contracts` AS select `tm`.`Member_ID` AS `member_ID`,`tm`.`Rank` AS `rank`,`tm`.`Last_Name` AS `last_name`,`ci`.`Customer_ID` AS `customer_ID`,`ci`.`last_name` AS `customer_last_name`,`ci`.`first_name` AS `customer_first_name`,`c`.`contract_type` AS `contract_type` from ((`team_members` `tm` join `customer_information` `ci` on(`tm`.`Member_ID` = `ci`.`Member_ID`)) join `contracts` `c` on(`ci`.`Contract_ID` = `c`.`Contract_ID`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-03-08 13:05:40
